<!DOCTYPE html>
{% extends 'flatpages/default.html' %}

{% block title %}
HEAD
{% endblock title %}

{% block content %}
<h1><a href="http://127.0.0.1:8000/admin/">Панель управления (Пароль в README)</a></h1>
<hr>
<h1><a href="http://127.0.0.1:8000/news/">Все новости</a></h1>
<hr>
<h1><a href="http://127.0.0.1:8000/news/1">Новость 1</a></h1>
<h1><a href="http://127.0.0.1:8000/news/2">Новость 2</a></h1>
<h1><a href="http://127.0.0.1:8000/news/3">Новость 3</a></h1>
{% endblock content %}
