{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
All news
{% endblock title %}

{% block content %}

<h1>Все новости</h1>
<h3>Публикаций: {{ search_post|length }}</h3>
<h3> {{ breaking_news|default_if_none:"Срочных новостей пока что нет" }} </h3>
    <form action="" method="get">
           {{ filterset.form.as_p }}
           <input type="submit" value="Найти" />
     </form>

<hr>
{% if search_post %}
    <table border="1" width="1300" style="border-collapse:collapse;">
        <tr>
            <td>Тема</td>
            <td>Дата, время</td>
            <td>Превью</td>
            <td>Редактирование</td>
            <td>Удаление</td>
        </tr>
        {% for search_post in search_post %}
        <tr>
            <td><a href="http://127.0.0.1:8000/news/{{ search_post.pk }}">{{ search_post.headline|censor }}</a></td>
            <td>{{ search_post.date_time|date:"d.m.Y" }}, {{ search_post.date_time|time:"H:i" }}</td>
            <td>{{ search_post.text|truncatechars:20|censor }}</td>
            <td><a href="http://127.0.0.1:8000/news/{{ search_post.pk }}/update/">Редактировать</a></td>
            <td><a href="http://127.0.0.1:8000/news/{{ search_post.pk }}/delete/">Удалить</a></td>
        </tr>
        {% endfor %}
    </table>
<h5>Сегодня {% current_time '%d %b %Y' %}</h5>
{% else %}
<h2>Новостей нет</h2>
{% endif%}

{% if page_obj.has_previous %}
    <a href="?{% url_replace page=1 %}">1</a>
    {% if page_obj.previous_page_number != 1 %}
        ...
        <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
    {% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
    <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
    {% if paginator.num_pages != page_obj.next_page_number %}
        ...
        <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}
{% endif %}

{% endblock content %}
